.animalComponent, .animalForm {
    padding: 20px;
}

button {
    background-color: #FCF6ED;
    border: 1px solid #D38C22;
}

.animals {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .animal {
      flex-basis: 28%;
      margin: 1em;
      padding: 1em;
      border: 3px solid #E09F3E;
      background-color: white;
  }

  /* .animal:hover {
    padding: 20px;
  } */

  fieldset {
    border: none;
  }

  fieldset input, select {
    margin: 1px;
    padding: 1px;
  }

  select {
    padding: 1px;
  }

.animal__name {
    text-decoration: none;
    font-size: 14pt;

}

.animal__name {
    color: #151316;
}

.animal__name:hover {
    color: #5E5463;
    font-size: 15pt;
}

.animal__name__detail {
    font-size: 16pt;
    margin: 15px 0;
}