/* Import the google web fonts you want to use */
@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #2A262C;
  font-family: "Comfortaa", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

body {
  background-color: #FAEEDC;
}

p {
  margin-bottom: 1.5em;
  color: #F0CF9C;
  color: #1A181B;
}

strong {
  font-weight: bold;
}

address {
  margin: 0 0 1.5em;
}

button {
  background-color: #E09F3E;
  border: 1px solid #D38C22;
  color: #FAEEDC;
  border-radius: 4px;
}

button:hover {
  background-color: #D38C22;
}

.home {
  margin: 20px;
  padding: 20px;
}

.home {
  background-position-x: right;
  background-image: url(./auth/logo.png);
  z-index: 1;
  min-height: 25rem;
  min-width: 45rem;
  background-color: rgba(255, 255, 255, 0.4);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
}
