.locationComponent {
    padding: 20px;
}

button {
    background-color: #FCF6ED;
    border: 1px solid #D38C22;
}

.locations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .location {
      flex-basis: 28%;
      margin: 1em;
      padding: 1em;
      border: 3px solid #E09F3E;
      background-color: white;
  }

  fieldset {
    border: none;
  }

  fieldset input, select {
    margin: 2px;
    padding: 1px;
  }

  select {
    padding: 3px;
  }